body{
    height: 100vh;
    background-color: rgb(48, 45, 45);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgb(245, 4, 4);
}
h1{
    color: rgb(255, 255, 255);
    margin: 2%;
}
.pesquisa-header{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}
#pesquisar-header{
    width: 90%;
    border-radius: 5px;
    border: none;
    height: 30%;
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}
.pesquisa-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 40%;
}
#pesquisar-section {
    width: 90%;
    border-radius: 5px;
    border: none;
    height: 30%;
    text-align: center;
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
#cards{
    display: grid;
    height: 50%;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.card-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
.nome{
    display: flex;
    height: max-content;
    width: 90%;
    justify-content: space-around;
} 
.id, .tipo{
    display: flex;
    height: 10%;
    width: 90%;
    justify-content: space-around;
}
.meta{
    display: flex;
    height: 30%;
    width: 90%;
    border: solid black 2px;
    border-radius: 8px;
}
.pontos, .visitas{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .pesquisa-section{
        height: 25%;
        width: 80%;
    }
    header{
        flex-direction: column;
        height: 20%;
    }
    #cards{
        grid-template-areas: 
    "item"
    "item"
    "item"
    "item"
    "item"
    "item";
    }
}