body{
    height: 100vh;
    background-color: rgb(48, 45, 45);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
}
.container{
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgb(245, 4, 4);
}
h1{
    color: rgb(255, 255, 255);
    margin: 2%;
}

.pesquisa-header{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65% ;
    height: max-content;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.pesquisa-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
#buscar-header, #buscar-section{
    background-color: rgb(253, 252, 252);
    color: rgb(255, 6, 6);
    border: none;
    border-radius: 5px;
    height: 40px;
    text-align: center;

}
.buscar{
    background-color: rgb(253, 252, 252);
    color: rgb(255, 6, 6);
    border: none;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
}
#cards{
    display: none;
    height: 90%;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.card-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
.nome{
    display: flex;
    height: max-content;
    width: 90%;
    justify-content: space-around;
} 
.id, .tipo{
    display: flex;
    height: 10%;
    width: 90%;
    justify-content: space-around;
}
.meta{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 90%;
    margin: 10px;
    border: solid black 2px;
    border-radius: 8px;
}
.pontos, .visitas{
    display: flex;
    height: 30%;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    
    background-color: rgb(245, 4, 4);
    color: rgb(255, 255, 255);
    text-align: center;
}
.contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: max-content;
    margin: 0;
    
}
img{
    width: 40%;
    filter: invert(90%);
    margin: 10px;
}
@media only screen and (max-width: 780px){
    #cards{
        display: none;
        grid-template-columns: repeat(2, 1fr);
        margin: 4px;
        }
    .pesquisa-section{
        height: 50%;
        width: 80%;
    }
    .pesquisa-header{
        flex-direction: column;
        width: 100%;
    }
    header{
        flex-direction: column;
        height: 30%;
    }
}
@media only screen and (max-width: 550px) {
    #cards{
    display: none;
    grid-template-columns: repeat(1, 1fr);
    margin: 4px;
    }
    img{
        width: 70%;
    }
}